/* #javainfo{
  display: none;
} */
  /* cursor: pointer;

}

#javascript {
  color: red;
  display: none;
}
.clickable {
  cursor: pointer;
  background-color: lightgray;

} */

.javaScriptInfo {
  display: none;
  
}
